#inputFields {
   display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin-top: 20px;
    padding: 2% 0%;;
    background-color: #9FDAF9;
    margin: 0% 2%;
}
#inputFields div {
    width: 45%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

#inputFields div p {
    width: 100%;
    align-self: baseline;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #E00049;
}

#inputFields div label {
    margin: 0px;
    width: 45%;
    color: #002757;
}

#inputFields div input {
    margin: 0px;
    width: 45%;
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid #002757;
    color: #002757;
    background-color: #9FDAF9;
}

#inputFields div #btnZoom {
    border: 1.5px solid #E00049;
    background-color: #E00049;
    padding: 5px;
    color: #fff;
    font-family: Roboto Slab;
}
#inputFields div #btChangeTresh{
    border: 1.5px solid #E00049;
    background-color: #E00049;
    padding: 5px;
    color: #fff;
    font-family: Roboto Slab;
}

#inputFields div #btChangeTresh:hover{
    background-color: #9FDAF9;
    color: #E00049;
    transition: 0.2s;
}

#inputFields div #btnZoom:hover{
    background-color: #9FDAF9;
    color: #E00049;
    transition: 0.2s;
}

input,
label {
    margin: 4px;
}

body {
  font-family: Roboto Slab;
  font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-top: 65px
}

#chartdiv,
#chartdiv2,
#chartdiv3 {
  width: 100%;
  height: 250px;
}

#chart {
  background: #fff;
  margin: 5px;
}

.closeButton{
    width: 200px;
    background-color: #fff;
    border: 2px solid #ff3838;
    border-radius: 5px;
    height: 25px;
    color: #ff3838;
    font-weight: 700;
    margin: 10px 0px;
}

.closeButton:hover {
    color: #fff;
    background-color: #ff3838;
    transition: 0.2s;
    
}
#calendarButtons {
     display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    align-items: center;
}

#calendarButtons button{
    margin: 5px;
    width: 150px;
    height: 30px;
    border: 2px solid #E00049;
    background: #fff;
    color: #E00049;
    font-family: Roboto Slab;
    font-weight: bolder;
}

#calendarButtons button:hover{
    background: #E00049;
    color: #fff;
    transition: 0.2s;
}

#cal-heatmap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-heatmap-container .graph-label{
    font-family: Roboto Slab;
    font-weight: 600;
    font-size: 18px;
}


h2 {
    text-align: center;
    color: #002757;
}

header {
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 1px 0px;
    background-color: #9FDAF9;
    color: #002757;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #002757;
    top: 0px;
    font-size: 8px;
}




